################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hello/HelloWorld/.vs/HelloWorld/v17/Browse.VC.db
/hello/HelloWorld/.vs/HelloWorld/v17/Browse.VC.db-shm
/hello/HelloWorld/.vs/HelloWorld/v17/Browse.VC.db-wal
/hello/HelloWorld/.vs/HelloWorld/v17/Browse.VC.opendb
